<!doctype html>
<title>{% block title %} Info Extraction App - Result{% endblock %} </title>
<link rel="stylesheet" href="{{ url_for('static', filename='mainstyle.css') }}">

<main class="mainApp">
    <header>
        {% if not init %}
        <h2>Info Extraction App</h2>
        <h1>Result</h1>
        {% else %}
        <h1>Info Extraction App</h1>
        {% endif %}
    </header>

    <form method="POST" action="/" enctype="multipart/form-data">
        <p>
            <label>File(s): </label>
            <!-- <button>Browse</button> -->
            <input type="file" name="files" id="files" multiple required>

        </p>
        <p>
            <label>Keyword: </label>
            <input type="text" name="keyword" id="keyword" required>
        </p>
        <p>
            <label>Algorithm: </label>
            <p><input type="radio" name="algorithm" id="BM" value="BM" required> Boyer-Moore</p>
            <p><input type="radio" name="algorithm" id="KMP" value="KMP"> KMP</p>
            <p><input type="radio" name="algorithm" id="Regex" value="Regex"> Regex</p>
        </p>
        <p><button>Search!</button></p>
    </form>

    {% if not init %}
    <p> Keyword Pencarian: <i>{{ keyword }}</i></p>
    <main>
        {% if nResult != 0 %}
        <p> Hasil : <i>{{ nResult }}</i> | Waktu Pencarian : <i>{{ elapsedTime }} ms</i></pp>
            {% for file in result %} {% for entry in file.getResultEntry() %}
            <div>
                <p>===========================================================================</p>
                <p> Jumlah: {{ entry.getJumlah() }} | Tanggal: {{ entry.getTanggal() }} </p>
                <p> Text : {{ entry.getText() }} </p>
                <p> Nama File: <b> {{ file.getFilename() }} </b></p>
                <br>
            </div>
            {% endfor %} {% endfor %} {% else %}
            <p> Tidak ada hasil ditemukan </p>
            {% endif %}
    </main>
    {% endif %}

</main>